*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
#pagina{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-bottom: solid 20px #14213d;
}
body{
    background-color: rgb(2, 4, 7);
    color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
#nave{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 60%;
}
.naveS a{
    text-decoration: none;
    color: #fca311;
    text-align: center;
    font-size: 6vh;
}
h1{
    color: #fca311;
    background-color: #14213d;
    width: 40%;
    text-align: center;
    font-size: 12vh;
}

.naveS{
    color: #fca311;
    font-size: 30px;
    justify-content: end;
    text-align: center;

}
#habilidades{
    background-color: rgb(2, 4, 7);
}
#inicial{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.inicialP{
    color: #fca311;
    font-size: 9vh;
    margin-top: 50px;
}
.inicialP img{
    border-radius: 100%;
}
#sobre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}
#sobremim{
    height: 100vh;
    border-bottom: solid 20px #14213d;
}
.sobreP{
    color: #ffffff;
    font-size: 9vh;
    margin-top: 50px;
    width: 38vw;
}
.sobreP img{
    border-radius: 100%;
    width: 400px;
}
 h2{
    color: #fca311;
    font-size: 100px;
    padding-left: 100px;
}
.sobreP p{
    font-size: 30px;
    text-align: center;
}
#habilidades{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    border-bottom: solid 20px #14213d;
    align-items: center;

}
#habilidades img{
    width: 17vw;
}
#projetos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    border-bottom: solid 20px #14213d;
}
.projetoFP{
width: 300px;
height: 700px;
padding: 70px;
background-color: black;

}
.projetoFP h3{
    color: #fca311;
    font-size: 40px;
    width: 60px;
}
.projetoF {
background-color:#14213d;
display: flex;

}
.projetoF img{
    width: 100px;
}
.projetoFF{
    width: 10px;
}
#contatos{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 50px;
}
.contatosF{
    display: flex;
    text-align: center;

}
.contatosF p{
    color: #fca311;
    font-size: 80px;
}
.contatosF img{
    width: 150px;
    margin-right: 50px;
    margin-bottom: 20px;
}
footer{
    border-top:solid 4px #14213d ;
    color: #fca311;
}
footer p{
    text-align: center;
    font-size: 30px;
    margin: 50px;
}